@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite, pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 10s linear infinite;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
}

@keyframes shine-diagonal {
  0% {
    transform: translateX(-150%) rotate(25deg);
  }

  100% {
    transform: translateX(150%) rotate(25deg);
  }
}

.animate-shine-diagonal {
  animation: shine-diagonal 2.5s linear infinite;
}